<!-- Email Settings content START -->
<div class="tab-pane" id="tab-6">
    <div class="card shadow">

        <!-- Card header -->
        <div class="card-header border-bottom">
            <h5 class="card-header-title mb-0">Email Settings</h5>
        </div>

        <!-- Card body START -->
        <div class="card-body">
            <!-- Email Template -->
            <div class="row g-4 mt-4">
                <!-- Template Item -->
                <div class="col-md-6 col-xxl-4">
                    <div class="bg-light rounded-3 d-flex justify-content-between align-items-center p-2">
                        <h6 class="mb-0"><a href="#">Welcome Email</a></h6>
                        <a href="#" class="btn btn-sm btn-round btn-dark flex-shrink-0 mb-0"><i class="far fa-edit fa-fw"></i></a>
                    </div>
                </div>

                <!-- Template Item -->
                <div class="col-md-6 col-xxl-4">
                    <div class="bg-light rounded-3 d-flex justify-content-between align-items-center p-2">
                        <h6 class="mb-0"><a href="#">Send Email to User</a></h6>
                        <a href="#" class="btn btn-sm btn-round btn-dark flex-shrink-0 mb-0"><i class="far fa-edit fa-fw"></i></a>
                    </div>
                </div>

                <!-- Template Item -->
                <div class="col-md-6 col-xxl-4">
                    <div class="bg-light rounded-3 d-flex justify-content-between align-items-center p-2">
                        <h6 class="mb-0"><a href="#">Password Change</a></h6>
                        <a href="#" class="btn btn-sm btn-round btn-dark flex-shrink-0 mb-0"><i class="far fa-edit fa-fw"></i></a>
                    </div>
                </div>

                <!-- Template Item -->
                <div class="col-md-6 col-xxl-4">
                    <div class="bg-light rounded-3 d-flex justify-content-between align-items-center p-2">
                        <h6 class="mb-0"><a href="#">Unusual Login Email</a></h6>
                        <a href="#" class="btn btn-sm btn-round btn-dark flex-shrink-0 mb-0"><i class="far fa-edit fa-fw"></i></a>
                    </div>
                </div>

                <!-- Template Item -->
                <div class="col-md-6 col-xxl-4">
                    <div class="bg-light rounded-3 d-flex justify-content-between align-items-center p-2">
                        <h6 class="mb-0"><a href="#">Password Reset Email by Admin</a></h6>
                        <a href="#" class="btn btn-sm btn-round btn-dark flex-shrink-0 mb-0"><i class="far fa-edit fa-fw"></i></a>
                    </div>
                </div>

                <!-- Template Item -->
                <div class="col-md-6 col-xxl-4">
                    <div class="bg-light rounded-3 d-flex justify-content-between align-items-center p-2">
                        <h6 class="mb-0"><a href="#">KYC Approve Email</a></h6>
                        <a href="#" class="btn btn-sm btn-round btn-dark flex-shrink-0 mb-0"><i class="far fa-edit fa-fw"></i></a>
                    </div>
                </div>

                <!-- Template Item -->
                <div class="col-md-6 col-xxl-4">
                    <div class="bg-light rounded-3 d-flex justify-content-between align-items-center p-2">
                        <h6 class="mb-0"><a href="#">KYC Reject Email</a></h6>
                        <a href="#" class="btn btn-sm btn-round btn-dark flex-shrink-0 mb-0"><i class="far fa-edit fa-fw"></i></a>
                    </div>
                </div>

                <!-- Template Item -->
                <div class="col-md-6 col-xxl-4">
                    <div class="bg-light rounded-3 d-flex justify-content-between align-items-center p-2">
                        <h6 class="mb-0"><a href="#">KYC Missing Email</a></h6>
                        <a href="#" class="btn btn-sm btn-round btn-dark flex-shrink-0 mb-0"><i class="far fa-edit fa-fw"></i></a>
                    </div>
                </div>

                <!-- Template Item -->
                <div class="col-md-6 col-xxl-4">
                    <div class="bg-light rounded-3 d-flex justify-content-between align-items-center p-2">
                        <h6 class="mb-0"><a href="#">KYC Submitted Email</a></h6>
                        <a href="#" class="btn btn-sm btn-round btn-dark flex-shrink-0 mb-0"><i class="far fa-edit fa-fw"></i></a>
                    </div>
                </div>

                <!-- Template Item -->
                <div class="col-md-6 col-xxl-4">
                    <div class="bg-light rounded-3 d-flex justify-content-between align-items-center p-2">
                        <h6 class="mb-0"><a href="#">Token Purchase - Cancel by User</a></h6>
                        <a href="#" class="btn btn-sm btn-round btn-dark flex-shrink-0 mb-0"><i class="far fa-edit fa-fw"></i></a>
                    </div>
                </div>

                <!-- Template Item -->
                <div class="col-md-6 col-xxl-4">
                    <div class="bg-light rounded-3 d-flex justify-content-between align-items-center p-2">
                        <h6 class="mb-0"><a href="#">Token Purchase - Order Placed</a></h6>
                        <a href="#" class="btn btn-sm btn-round btn-dark flex-shrink-0 mb-0"><i class="far fa-edit fa-fw"></i></a>
                    </div>
                </div>

                <!-- Template Item -->
                <div class="col-md-6 col-xxl-4">
                    <div class="bg-light rounded-3 d-flex justify-content-between align-items-center p-2">
                        <h6 class="mb-0"><a href="#">Token Purchase - Order Successfully</a></h6>
                        <a href="#" class="btn btn-sm btn-round btn-dark flex-shrink-0 mb-0"><i class="far fa-edit fa-fw"></i></a>
                    </div>
                </div>

                <!-- Button -->
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-primary mb-0">Update</button>
                </div>
            </div>
        </div>
        <!-- Card body END -->
    </div>
</div>
<!-- Email Settings content END -->